* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

body {
    border: solid 1px black;
    margin: 80px auto 0 auto;
    min-width: 1140px;
}

.main-contents {
    border: solid 1px black;
    width: 1140px;
    margin: 0 auto 0 auto;
}

.intro {
    border: solid 1px black;
}

.intro h2 {
    border: solid 1px black;
}

.intro p {
    border: solid 1px black;
}

.news {
    border: solid 1px black;
}

.news h3 {
    border: solid 1px black;
}

.news-ul {
    border: solid 1px black;
}

.news-li {
    border: solid 1px black;
}

.footer-contents {
    border: solid 1px black;
}

.copyright {
    border: solid 1px black;
}

@media screen and (min-width:767.98px) {
    .logo-search {
        height: 50px;
    }
}